

/* Responsive Styles */
@media screen and (max-width: 425px) {

    /* Mobile Styles */
    .nav-container,
    .nav-items-container {
        flex-direction: column;
        width: 100%;
    }

    .nav-items-container a {
        margin-top: 1.25rem;
        /* 20px */
    }

    .nav-items-container .login-btn {
        width: 100%;
        margin-bottom: 0.625rem;
        /* 10px */
    }

    .follow-btn {
        margin-bottom: 1.25rem;
        /* 20px */
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-img,
    .banner-text {
        width: 100%;
    }

    .icons-container li {
        padding-left: 0.625rem;
        /* 10px */
    }

    .banner-text p {
        padding-top: 1.875rem;
        /* 30px */
    }

    .banner-btn {
        padding-bottom: 1.875rem;
        /* 30px */
    }

    .Online-games-cards {
        flex-direction: column;
    }

    .Online-games-card-item {
        width: 342px;
        margin-bottom: 40px;

    }


    .Online-games-heading h2 {
        font-size: 29px;
    }

    .Online-games-description p {
        font-size: 11px;

    }
    .play-games-container{
        flex-direction: column;
    }

    .play-games-heading,
    .play-games-image {
        width: 100%;
    }
    .play-games-image img {
        padding-top: 30px;
        display: block;
        margin: 0px auto;
        width: 80%;
    }
    .mini-image img{
        width: 30%;
        position: relative;
        bottom: 30vh;
        right: 30vh;
    }
    .play-games-heading h2,p{
        text-align: center;
    }
    
    



}