* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF42A5;
    --font-size-base: 16px;
}

body {
    font-family: 'Work Sans', sans-serif;
}

nav {
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.logo-container img {
    width: 86.041px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;
}

.logo-container p {
    text-align: center;
    font-size: 2.8125rem;
    /* Equivalent to 45px */
    font-weight: 700;
}

.hive-section {
    color: var(--primary-color);
}

.nav-items-container {
    width: 50%;
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-items-container a {
    text-decoration: none;
    font-size: 1.5625rem;
    /* Equivalent to 25px */
    color: #3C354F;
}

.nav-items-container .follow-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 10px 20px;
    font-weight: 700;
    color: black;
    text-align: center;
}

.nav-items-container .follow-btn p {
    color: #3C354F;
    font-size: 1.125rem;
    /* Equivalent to 18px */
    font-weight: 500;
}

.follow-btn {
    display: flex;
    align-items: center;
}

.follow-btn p {
    margin-right: 10px;
}

.follow-btn a {
    margin-right: 10px;
}

.follow-btn a.youtube-icon i {
    color: red;
}

.follow-btn a.tiktok-icon i {
    color: #000;
}

.banner-container {
    margin: auto;
    min-width: 320px;
    max-width: 1300px;
    min-height: 50px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

.banner-img,
.banner-text {
    width: 50%;
}

.banner-img img {
    width: 100%;
    object-fit: cover;
}

.banner-text {
    display: flex;
    flex-direction: column;
    background-image: url("/images/Group14.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.banner-text p {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    /* Equivalent to 48px */
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0;
}

.banner-text h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 5rem;
    /* Equivalent to 80px */
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}

.icons-container {
    list-style: none;
}

.icons-container li {
    color: #534C64;
    font-size: 1.25rem;
    /* Equivalent to 20px */
    font-weight: 500;
    margin-bottom: 10px;
}

.icons-container li i {
    color: palevioletred;
}

.banner-btn {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.primary-btn,
.secondary-btn {
    border-radius: 48px;
    display: inline-flex;
    padding: 21px 40px;
    color: #FFF;
    font-size: 1.25rem;
    /* Equivalent to 20px */
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
}

.primary-btn {
    background-color: var(--primary-color);
}

.secondary-btn {
    background-color: #4EC5F7;
}
